$c-black-40: #CACCCF;
$c-black-70: #909497;
$c-black-80: #52575C;
$c-black-100: #25282B;

$c-white: #FFF;

$c-foreground: $c-black-100;
$c-foreground-hover: $c-black-80;

$c-background: #FFFFFF;

$c-primary: #53AD59;
$c-primary-hover: #64b569;
$c-primary-light: #75BD7A;
$c-primary-light-hover: #82c387;

